@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}
.container {
  /* width: 1320px; */
  margin: 0 300px;
}
/*Menu*/
.header {
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../images/header-bagraund.jpg);
  background-size: cover;
  position: relative;

  height: 100vh;
  z-index: 0;
}

.header_line {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.logo {
  /* position: absolute; */
  width: 131.81px;
  height: 57.83px;
}
.nav_item {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16 px;

  margin-right: 25px;

  transition: 0.3s linear;
}
.nav_item:hover {
  color: #9a762f;
}

/* header */

.header_inner h2 {
  font-weight: 700;
  font-size: 60px;
}
