@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font: 16px/28px "Montserrat", sans-serif;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s linear;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
button {
  display: block;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  transition: 0.3s linear;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn-primary {
  padding: 19px 28px;
  background: linear-gradient(90deg, #9a762f 0%, #f2c977 100%);
  border-radius: 6px;
  transition: 0.3s;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #735a26 0%, #af9257 100%);
  transition: 0.3s;
}
.hidden {
  display: none;
}

/* HEADER */
.block__header {
  background-image: url(../images/header-bagraund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.block__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(35, 38, 38, 0.9);
  backdrop-filter: blur(8px);
  z-index: -1;
}
#header_section {
  padding: 60px 0 350px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo__img {
  width: 130px;
  height: 57px;
}
.nav_main__list {
  display: flex;
  gap: 50px;
  font-weight: 300;
}
.nav_main__link:hover {
  color: rgb(201, 149, 45);
}

/* Banner */

#banner_section {
  padding-bottom: 175px;
  position: relative;
}
.banner {
  max-width: 800px;
  z-index: 1;
}
.banner_header {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}
.banner_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 20px 0 40px 0;
}
.banner_image {
  display: flex;
  gap: 72px;
  opacity: 0.9;
  text-align: center;

  padding-top: 85px;
}
.banner_img__1 {
  width: 95px;
  height: 68px;
}
.banner_img__2 {
  width: 138px;
  height: 70px;
}
.banner_img__3 {
  width: 84px;
  height: 70px;
}
.banner_img__4 {
  width: 87px;
  height: 77px;
}

.banner_circle {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.banner_circle::before {
  position: absolute;
  content: "";
  top: 0;
  right: -25px;
  width: 50%;
  height: 100%;
  background: url(../images/circle.png) no-repeat;
  z-index: -1;
}
.banner__link:hover {
  color: rgb(28, 35, 35);
  background: linear-gradient(90deg, #735a26 0%, #af9257 100%);
  transition: 1s;
}

/* Info section */

#execution_section {
  position: relative;
  color: rgba(35, 38, 38, 1);
  padding: 130px 0;
  display: flex;
  flex-wrap: wrap;
}
.execution_title {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;

  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.execution_parag {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  text-align: center;
  max-width: 930px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.execution_box {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box_item h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
}
.box_item p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.box_item {
  text-align: left;
  padding: 60px 30px;

  width: 20%;
  flex-wrap: wrap;
  z-index: 1;
}
.box_item::after {
  background-color: #9a762f;
  z-index: 10;
}
.box_text {
  border-right: 1px solid #bebebe;
  height: 50px;
  padding-bottom: 50px;
}

/* Section redesigning_box*/

#redesigning_box {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;

  margin-top: -100px;
}
.redesigning_item_1 {
  background: url(../images/enginer.png);
  border-radius: 15px;
  width: 900px;
  height: 600px;

  top: 20%;
  left: 10%;
  right: 0;
  bottom: 0;

  position: relative;
  z-index: 0;
}
.redesigning_item_2 {
  width: 900px;
  height: 600px;

  border: 30px solid;
  border-image-source: linear-gradient(90deg, #9a762f 0%, #f2c977 100%);
  border-image-slice: 1;

  /* top: -50%; */
  left: 25%;
  right: 25%;
  bottom: 25%;

  position: relative;
  z-index: -1;
}
.redesigning_item_3 {
  background: rgba(35, 38, 38, 1);
  border-radius: 15px;
  width: 900px;
  height: 600px;

  top: -70%;
  left: 43%;
  right: 0;

  position: relative;
  z-index: 0;
}

.redesigning_list li {
  font-size: 18px;
  line-height: 30px;
  padding-left: 30px;
  color: rgba(225, 225, 225, 1);
  z-index: 0;
  position: relative;
}
.redesigning_list li::before {
  content: url(../images/Ellipse\ 3.png);
  position: absolute;
  top: 5px;
  left: 0px;
}
.redesining_ul_list {
  padding: 70px;
}
.redesigning_title {
  font-size: 38px;
  line-height: 50px;
}
.redesigning_text {
  font-size: 24px;
  line-height: 20px;

  padding: 40px 0;
}

/* Carusel Section */

.carusel_box {
  color: rgba(35, 38, 38, 1);
}
.carusel_1 {
  height: 420px;
  width: 420px;
  background-color: cadetblue;
}
